.brandmark {
    width: 200px;
    height: 164px;
  }
  
  .brandmark:hover * {
    stroke: lightgray;
  }
  
  .brandmark-border {
    opacity:1;
    fill:transparent;
    stroke:white;
    stroke-width:7.5;
    stroke-linecap:butt;
    stroke-miterlimit:4;
  }
  
  .brandmark-letter {
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    font-stretch:normal;
    font-size:105px;
    font-family:sans-serif;
    fill:white;
    stroke:white;
    stroke-linejoin:round;
    stroke-miterlimit:4;
  }
  
  body {
    background-color:black;
    padding: 10px;
  }